.header{
  background: black;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo{
  width: 15%;
  margin: 20px;
}

.header ul{
  width: 70%;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  font-size: 24px;
  margin: 0 50px;
}