.sessionContainer{
  position: relative;
  top: -44px;
}

.sessionChart{
  width: 300px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF0000;
}

.sessionLabel{
  background: white;
  padding: 5px;
}

.titleSession{
  color: white;
  position: relative;
  top: 60px;
  right: -20px;
  opacity: 50%;
}