.sidebar{
  background: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.sidebar ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 40%;
}

.sidebar li{
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 5px;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.sidebar span{
  transform: rotate(270deg);
  position: relative;
  top: 210px;
  font-size: 0.8em;
}